<div class="table-component">

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY9TYm47accfLtwdfU_sF-ADLL-1nyPvhQG9HxLsLkg3DHUfnl&s"
    (click)="openDialog()"  
    class="add-btn"
    alt="Loading...">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource">

      <!-- Number in list Column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let j = index">
          {{j+1}}
        </td>
      </ng-container>

      <!-- Item Column -->
      <ng-container matColumnDef="itemName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Item </th>
        <td mat-cell *matCellDef="let element">
          {{element.itemName}}
        </td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element">
          {{element.amountDetails.amount}} {{element.amountDetails.units}}
        </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element">
          {{element.price.pricePerUnit}} {{element.price.currency}}
        </td>
      </ng-container>

      <!-- Comments Column -->
      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef> Comments </th>
        <td mat-cell *matCellDef="let element">
          {{element.comments}}
        </td>
      </ng-container>

      <!-- When added Column -->
      <ng-container matColumnDef="added">
        <th mat-header-cell *matHeaderCellDef> Added </th>
        <td mat-cell *matCellDef="let element">
          {{element.metadata.createdAt | date}}
        </td>
      </ng-container>

      <!-- Prioruty Column -->
      <ng-container matColumnDef="priority">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Priority </th>
        <td mat-cell *matCellDef="let element">
          {{element.priority}}
        </td>
      </ng-container>

      <!-- Done Column -->
      <ng-container matColumnDef="done">
        <th mat-header-cell *matHeaderCellDef> Done </th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle
            color="primary"
            [checked]="element.done"
            (change)="onToggleChange($event, element)"
          >
        </mat-slide-toggle>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="restyled-row {{row.priority.toLowerCase()}}">
      </tr>

    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]" class="mat-paginator-sticky" showFirstLastButtons></mat-paginator>
  </div>
</div>