<button
  mat-raised-button
  class="redirect-btn"
  routerLink="/auth/signin">
  Go to sign IN
</button>

<div class="signup">
  <h1 class="caption">Register</h1>
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form
      (submit)="onSignUp(signupForm)"
      #signupForm="ngForm"
      *ngIf="!isLoading">
      <mat-form-field>
        <input
          email
          ngModel
          matInput
          required
          name="email"
          type="email"
          #emailInput="ngModel"
          placeholder="Your e-mail">
          <mat-error *ngIf="emailInput.invalid">
            Please enter a valid e-mail
          </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          ngModel
          matInput
          required
          minlength="5"
          maxlength="15"
          name="password"
          type="password"
          #passwordInput="ngModel"
          placeholder="Your password">
          <mat-error *ngIf="passwordInput.invalid">
            Please enter a valid password
          </mat-error>
      </mat-form-field>
      <div class="footer">
        <button
          mat-raised-button color="accent" type="submit">
          Sign UP
        </button>
      </div>
    </form>
  </mat-card>
</div>