.modal {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

  .header {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: gray;
  }

  .add-item-form {
    width: 100%;

    .mat-form-field {
      width: 230px;
    }

    .form-group {
      display: flex;
      justify-content: space-between;
    }

    .priority {
      width: 45%;
    }

    .mat-radio-group {
      display: flex;
      justify-content: space-between;
    }

    .btns {
      width: 100%;
      margin-top: 20px;
      
      mat-dialog-actions {
        display: flex;
        justify-content: space-between;
      }

      .mat-button {
        background-color: #dae9fb;
      }
    }
  }
}
