<div class="modal">

  <div class="header">
    <h4>Add new item to your shopping list</h4>
  </div>

  <form
    [formGroup]="listForm"
    class="add-item-form"
    (ngSubmit)="onSubmit(listForm.value)">
    <div>

      <mat-form-field>
        <input
          matInput
          required
          placeholder="Add..."
          formControlName="itemName">
          <mat-error *ngIf="
            listForm.controls.itemName &&
            (listForm.controls.itemName.invalid &&
            (listForm.controls.itemName.dirty ||
            listForm.controls.itemName.touched) &&
            listForm.controls.itemName.errors.required)">
            This field is required.
          </mat-error>
          <mat-error *ngIf="
            listForm.controls.itemName &&
            listForm.controls['itemName'].hasError('minlength')">
            Name is too short - minimum 3 chars.
          </mat-error>
          <mat-error *ngIf="
            listForm.controls.itemName &&
            listForm.controls['itemName'].hasError('maxlength')">
            Name is too long - maximum 100 chars.
          </mat-error>
      </mat-form-field>

      <div formGroupName="amountDetails" class="form-group">
        <mat-form-field>
          <input
            matInput
            required
            placeholder="Amount"
            formControlName="amount">
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Units</mat-label>
          <mat-select formControlName="units">
            <mat-option *ngFor="let unit of units" [value]="unit">
              {{ unit }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div formGroupName="price" class="form-group">
        <mat-form-field>
          <input
            matInput
            placeholder="Price per unit"
            formControlName="pricePerUnit">
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Currency"
            formControlName="currency">
          </mat-form-field>
      </div>

      <p>Choose priority</p>
      <mat-radio-group formControlName="priority">
        <mat-radio-button value="Low">Low</mat-radio-button>
        <mat-radio-button value="Medium">Medium</mat-radio-button>
        <mat-radio-button value="High">High</mat-radio-button>
      </mat-radio-group >

    <div class="btns">
      <mat-dialog-actions>
        <button mat-button (click)="onNoClick()">
          Cancel
        </button>
        <button
          mat-button
          type="submit"
          [mat-dialog-close]="listForm"
          [disabled]="!listForm.valid"
          cdkFocusInitial>
          Save
        </button>
      </mat-dialog-actions>
      </div>
    </div>
  </form>
</div>
